---
layout: default
title: Video + Film
description: Selected videos and films by filmmaker Sally Lawton.
share-image: sky-high.png
---
<div class="video-film-wrap">
	<h2 class="page-title">Video + Film</h2>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/309532654" %}
<div class="video-details">
<h2 class="video-title">Tolerance Radiant (Excerpt)</h2>
<p class="video-description">2018 | HD | 10min</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/243030602" %}
<div class="video-details">
<h2 class="video-title">Sky High and the Color of Money (Excerpt)</h2>
<p class="video-description">2018 | 16mm | 6min</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/309222363" %}
<div class="video-details">
<h2 class="video-title">Patrick Worth Dying For</h2>
<p class="video-description">2017 | miniDV | 2min</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/138534161" %}
<div class="video-details">
<h2 class="video-title">California Psych</h2>
<p class="video-description">2015 | 16mm | 2min</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/135085072" %}
<div class="video-details">
<h2 class="video-title">Bad Credit Good Moms</h2>
<p class="video-description">2015 | HD | 3min</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="4by3" url="https://player.vimeo.com/video/110325699" %}
<div class="video-details">
<h2 class="video-title">Garden of Delights</h2>
<p class="video-description">2014 | VHS | 3min</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="4by3" url="https://player.vimeo.com/video/113740354" %}
<div class="video-details">
<h2 class="video-title">Mutatis Mutandis</h2>
<p class="video-description">2014 | 16mm | 6min</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="4by3" url="https://player.vimeo.com/video/109862869" %}
<div class="video-details">
<h2 class="video-title">Dog Hair Bath</h2>
<p class="video-description">2014 | VHS | 2min</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/104545886" %}
<div class="video-details">
<h2 class="video-title">Boobs Under a Big Flannel Shirt</h2>
<p class="video-description">2014 | VHS | 1min</p>
</div>
</div>
</div>
