<header class="default-header clearfix">
		<div class="mobile-header-wrap">
			<a class="home-link" href="/"><h1 class="home-title">SALLY LAWTON</h1></a>
			<span class="menu-button" onclick="navFunction()"><i id="nav-icon" class="fas fa-bars"></i></span>
		</div>
		<div id="mySidenav" class="default-header-inner">
		<nav class="site-navigation">
			<ul class="nav-list">
				<a href="/video+film"><li class="nav-item">△<span class="nav-item-text">Video + Film</span></li></a>
				<a href="/commercial"><li class="nav-item">✺<span class="nav-item-text">Commercial Work</span></li></a>
				<a href="/katiescrossing"><li class="nav-item">↼<span class="nav-item-text">Katies Crossing</span></li></a>			
				<a href="/thehardearth"><li class="nav-item">☾<span class="nav-item-text">The Hard Earth</span></li></a>
				<!--<a href="/photos"><li class="nav-item">¤<span class="nav-item-text">Photos</span></li></a>-->
				<a href="/weddings"><li class="nav-item">∞<span class="nav-item-text">Wedding Videos</span></li></a>
				<a href="/info"><li class="nav-item">©<span class="nav-item-text">INFO</span></li></a>
			</ul>
		</nav>
		<ul class="social-icons">
			<a target="_blank" href="https://www.facebook.com/sally.lawton.18"><li><span class="pad-r"><i class="fab fa-facebook"></i></span></li></a>
			<a target="_blank" href="https://www.instagram.com/sincerelytv/"><li><span class="pad-r"><i class="fab fa-instagram"></i></span></li></a>
			<a target="_blank" href="https://vimeo.com/sincerelyproductions"><li><span><i class="fab fa-vimeo"></i></span></li></a>
		</ul>
	</div>
</header>