---
layout: default
title: Commercial
description: Selected commercial work by filmmaker Sally Lawton.
share-image: donna-jackson.png
---
<div class="video-film-wrap">
	<h2 class="page-title">Commercial Work</h2>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/260506945" %}
<div class="video-details">
<h2 class="video-title">Savvy Chic</h2>
<p class="video-description">A look at the long standing boutique in Detroit's Eastern Market.</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/244931217" %}
<div class="video-details">
<h2 class="video-title">Sally Lawton Directing + Editing Reel</h2>
<p class="video-description">2017</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/313415098" %}
<div class="video-details">
<h2 class="video-title">Busy Beaver + Half Acre</h2>
<p class="video-description">Half Acre Beer Company discusses their love for Busy Beaver Button Company.</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/258501664" %}
<div class="video-details">
<h2 class="video-title">Detroit Neighborhood Arts Project: Donna Jackson</h2>
<p class="video-description">A profile of installation artist Donna Jackson, one of the 2018 Detroit Neighborhood Artists.</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/313415327" %}
<div class="video-details">
<h2 class="video-title">Detroit Clothing Circle</h2>
<p class="video-description">A clothing store in Detroit specializing in vintage and underground brands.</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/256840239" %}
<div class="video-details">
<h2 class="video-title">Detroit Neighborhood Arts Project: Megan White</h2>
<p class="video-description">A profile of painter and illustrator Megan White, one of the 2018 Detroit Neighborhood Artists.</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/313417498" %}
<div class="video-details">
<h2 class="video-title">Mint Creek Farm</h2>
<p class="video-description">A featurette on Illinois based organic meat farm.</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/313417760" %}
<div class="video-details">
<h2 class="video-title">EMLE</h2>
<p class="video-description">A fashion film for the Detroit based clothing line.</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/313550742" %}
<div class="video-details">
<h2 class="video-title">Wolfbait and B-Girls</h2>
<p class="video-description">A profile of the coolest store in Logan Square, Chicago.</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/313550782" %}
<div class="video-details">
<h2 class="video-title">Wasteshed</h2>
<p class="video-description">A short promo for a Chicago reuse center.</p>
</div>
</div>
</div>