---
layout: default
title: Katies Crossing
description: A 5 part mystery webseries co-directed and co-written by Sally Lawton.
share-image: katies-crossing.jpg
---
<div class="video-film-wrap">
	<h2 class="page-title">Katies Crossing</h2>
	<p class="page-description">A 5 part queery mystery series I co-directed and co-wrote.</p>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/238306171" %}
<div class="video-details">
<h2 class="video-title">Episode 1</h2>
<p class="video-description">Katie meets Katie. Katie interviews a representative of the Tina Beef hot dog franchise. Katie reads some of her poetry.</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/238311757" %}
<div class="video-details">
<h2 class="video-title">Episode 2</h2>
<p class="video-description">Katie gets the scoop on the Trash Trojans corporation. Katie has band practice with her friend Karen. Katie meets with an old flame.</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/238321040" %}
<div class="video-details">
<h2 class="video-title">Episode 3</h2>
<p class="video-description">Katie visits The River League. Katie meets Phil at a farm party. Katie gets closer to the truth.</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/238327031" %}
<div class="video-details">
<h2 class="video-title">Episode 4</h2>
<p class="video-description">Katie goes to her mother's house. Katie has a secret meeting. Katie gets in the river.</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/238334004" %}
<div class="video-details">
<h2 class="video-title">Episode 5</h2>
<p class="video-description">Katie is a guest on a young adult fiction talk show. Katie and Katie have coffee at Vicky's. Katie gets to the bottom of it all.</p>
</div>
</div>

</div>