---
layout: default
title: Wedding Videos
description: Selected wedding videos by filmmaker Sally Lawton.
share-image: chris-allison.png
---
<div class="video-film-wrap">
	<h2 class="page-title">Wedding Videos</h2>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/248666889" %}
<div class="video-details">
<h2 class="video-title">Allison + Chris</h2>
<p class="video-description">16mm</p>
</div>
</div>
<div class="video-section">
{% include video.html ratio="16by9" url="https://player.vimeo.com/video/233603006" %}
<div class="video-details">
<h2 class="video-title">Madeline + Bill</h2>
<p class="video-description">16mm</p>
</div>
</div>

</div>